<form #customerForm="ngForm" novalidate>
    <h3 class="text-center">{{title}}</h3>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput #address="ngModel" required id="address" name="address" type="text"
                        placeholder="Address" [(ngModel)]="customer.address.street">
                    <mat-error class="error-message" [hidden]="address.valid">Address is required and must be valid
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <mat-form-field class="full-width">
                    <input matInput #city="ngModel" required id="city" name="city" type="text" placeholder="City"
                        [(ngModel)]="customer.address.city">
                    <mat-error class="error-message" [hidden]="city.valid">City is required and must be valid
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field class="full-width">
                    <input matInput #zip="ngModel" required id="zip" name="zip" type="text"
                        placeholder="Zip / Postal Code" [(ngModel)]="customer.address.zip">
                    <mat-error class="error-message" [hidden]="zip.valid">Zip / Postal Code is required and must be
                        valid</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <mat-form-field class="full-width">
                    <input matInput #state="ngModel" required id="state" name="state" type="text"
                        placeholder="State / Province" [(ngModel)]="customer.address.state">
                    <mat-error class="error-message" [hidden]="state.valid">State is required and must be valid
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field class="full-width">
                    <input matInput #country="ngModel" required id="country" name="country" type="text"
                        placeholder="Country" [(ngModel)]="customer.address.country">
                    <mat-error class="error-message" [hidden]="country.valid">Country is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput #phonenumber="ngModel" required pattern="\d{3}[\-]\d{3}[\-]\d{4}" id="phonenumber"
                        name="phonenumber" type="tel" placeholder="Phone Number" [(ngModel)]="customer.phoneNumber">
                    <mat-error class="error-message" [hidden]="phonenumber.valid">Phone Number Format: 123-345-6789
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button mat-raised-button color="primary" [disabled]="!customerForm.valid" (click)="goToNext(customerForm)">
            Next <i class="far fa-arrow-alt-circle-right"></i>
        </button>
    </div>
</form>