.item-card{
    max-width: 400px;
    margin: 10px;
}
.mat-card-title{
    margin-bottom:35px;
}

.center{
    margin-left: 10px auto;
  }
  
  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }