<div class="row">
  <div *ngFor="let item of items | async">

    <mat-card class="item-card">
      <mat-card-header>
        <mat-card-title><a mat-button [routerLink]="['/store/item',item._id]">{{item.title}}</a></mat-card-title>
      </mat-card-header>
      <a [routerLink]="['/store/item',item._id]"><img mat-card-image src="../../../assets/images/{{item.name}}.png"
          alt=""></a>
      <mat-card-content>
        <p>{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions>
          <p>{{item.price}}$</p>
        <button mat-raised-button color="accent" (click)="addItemToCart(item, 1)">
          Add to Cart
          <i class="material-icons">
            add_shopping_cart
          </i>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>