<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>User Dashboard</span>

    <span class="user-spacer"></span>
    <a mat-button [routerLink]="['/store']">Store</a>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="user-container">
  <mat-sidenav #sidenav mode="side" opened class="user-sidenav" [fixedInViewport]="true" [fixedTopGap]="60">
      <a mat-button  class="full-width" [routerLink]="['profile']"><i class="fas fa-user-alt"></i> Profile</a>
      <a mat-button class="full-width" [routerLink]="['orders']"><i class="fas fa-clipboard-list"></i> Orders</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>