.user-spacer {
    flex: 1 1 auto;
  }

  .user-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    
  }
  
  .user-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #e0e0e0    ;
    color: #525252
    ;
   
    padding:10px;

    a{
      margin-top: 20px;
    }

    a:hover{
      color:  #673fb4  ;
    }

    a:focus{
      background-color: #fed550;
      color:  black ;
    }
  }

  .full-width{
    width: 100%
  }

  a:hover{
    color: white;
}


