<h2 mat-dialog-title class="text-center">Login</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="email" formControlName="email" placeholder="Email">
          <mat-error *ngIf="f.email.errors">
            <mat-error *ngIf="f.email.errors.email">
              Please enter a valid email address
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input type="password" matInput formControlName="password" placeholder="Password">
        </mat-form-field>
      </div>
    </div>
    <div class="text-center">
      <label class="mat-error" role="alert">{{errorMessage}}</label>
    </div>


    <div class="text-center">
      <button type="submit" (click)="tryLogin(loginForm.value)" mat-raised-button color="primary"
      [disabled]="loginForm.invalid" >Login</button>
    </div>
    <div class="text-center">
      <p>No account yet?</p>
    </div>
    <div class="text-center">
      <button mat-button (click)="openRegister()">Register</button>
    </div>
  </form>
</mat-dialog-content>