
  .board{
    min-width: 150px;
    max-width: 575px;
    margin: 50px auto;
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    overflow: visible;
  }

  .full-width {
    width: 100%;
  }