h3, h5{
    margin-top: 20px;
}

.full-width {
    width: 100%;
  }

  .checkout-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }


  .board{
    max-width:800px;
    margin: 50px auto;
  }